.single-product{
    background-color: #EBEBEB;
}
.single-product .inside-article {
    background-color: transparent;
}

.woocommerce div.product .product_title {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.woocommerce div.product div.images img {
    aspect-ratio: 4/3;
    object-fit: cover;
}