.single-product {
    background-color: #ebebeb;
}
.single-product .inside-article {
    background-color: transparent;
}

.woocommerce div.product .product_title {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.woocommerce div.product div.images img {
    aspect-ratio: 4/3;
    object-fit: cover;
}
.woocommerce-product-gallery .flex-viewport {
    background-color: var(--base-3);
    border-radius: 10px;
    overflow: hidden;
}
.woocommerce div.product div.images .flex-control-thumbs li {
    border-radius: 10px;
    background-color: var(--base-3);
    overflow: hidden;
}